<ion-header>
  <ion-toolbar>
    <ion-title>
      Ma Calculatrice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
                <!-- <ion-input  type = "text" 
                            style ="background-color:grey;
                                    color: #ffffff;
                                    padding: 10px 30px;
                                    font-size: 28px;
                                    text-align: right;
                                    color:black;"
                            placeholder = "0" 
                            class = "display" 
                            readonly = true
                            [(ngModel)] = "result"> 

                </ion-input> -->

                <ion-col size="12" color="primary">
                    <ion-input  class="display" 
                                type = "text"  
                                class = "display" 
                                readonly = true
                                [(ngModel)] = "result">
                      {{ display | number : '.0-8'}}
                    </ion-input>
                  </ion-col>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col size = 3>
                  <button ion-button style="color:floralwhite; 
                                            background-color:grey; 
                                            border-radius: 50%; 
                                            width: 58px; 
                                            height: 58px;"
                                            (click) = "resetLastNumber()"> AC </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:grey; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "changeSign('+/-')"> +/- </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:grey; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Operator('%')"> % </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:orange; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Operator('/')"> / </button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:black; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Number(7)"> 7 </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:black; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Number(8)"> 8 </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:black; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Number(9)"> 9 </button>
                </ion-col>
                <ion-col size = 3>
                    <button ion-button style="color:floralwhite; 
                                              background-color:orange; 
                                              border-radius: 50%; 
                                              width: 58px; 
                                              height: 58px;"
                                              (click) = "Operator('*')"> * </button>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(4)"> 4 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(5)"> 5 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(6)"> 6 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:orange; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Operator('-')"> - </button>
                  </ion-col>
                </ion-row>
              <ion-row>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(1)"> 1 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(2)"> 2 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Number(3)"> 3 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:orange; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "Operator('+')"> + </button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size = 6>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                width: 120px; height: 58px; 
                                                border-top-left-radius: 28px; 
                                                border-bottom-left-radius: 28px; 
                                                border-top-right-radius: 28px; 
                                                border-bottom-right-radius: 28px;"
                                                (click) = "Number(0)"> 0 </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:black; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "setDecimal()"> , </button>
                  </ion-col>
                  <ion-col size = 3>
                      <button ion-button style="color:floralwhite; 
                                                background-color:orange; 
                                                border-radius: 50%; 
                                                width: 58px; 
                                                height: 58px;"
                                                (click) = "calculate()"> = </button>
                  </ion-col>
                </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
